:root {
  --text-primary: #303030;
  --text-secondary: #505050;
  --text-tertiary: #808080;
  --dark-purple: #8b80b4;
  --purple: #ad9ee8;
  --light-purple: #e7e0ff;
  --pale-purple: #f2effb;
}

::selection {
  color: white;
  background: var(--dark-purple);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  background: var(--purple);
  color: var(--text-primary);
  position: relative;
  font-size: 18px;
}
