:root {
  --dark-purple: #8b80b4;
  --purple: #ad9ee8;
  --light-purple: #e7e0ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  background: #ad9ee8;
  position: relative;
  font-size: 18px;
}
