:root {
  --text-primary: #303030;
  --text-secondary: #505050;
  --text-tertiary: #808080;
  --abyss-purple: #190363;
  --panel-purple: #383781;
  --dark-purple: #8b80b4;
  --purple: #915eff;
  --light-purple: #e7e0ff;
  --accent-magenta: #ff3399;
  --pale-purple: #f2effb;
}

::selection {
  color: var(--abyss-purple);
  background: var(--purple);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  background: var(--abyss-purple);
  color: var(--pale-purple);
  position: relative;
  font-size: 18px;
}

a {
  color: var(--dark-purple);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
