@keyframes fade-in {
  from {
    transform: translateY(4px);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@mixin fade-with-delay($delay) {
  opacity: 0;
  animation: fade-in 0.5s forwards;
  animation-delay: $delay;
}


.main {
  width: 100%;

  .hero {
    height: calc(80dvh - 72px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 128px;
    background: linear-gradient(#fde0ff, var(--light-purple));

    .countdown {
      text-align: center;
      @include fade-with-delay(0.5s);

      .numerials {
        height: 160px;
        font-size: 128px;
        font-family: 'Outfit';
        font-variant-numeric: tabular-nums;
        color: var(--dark-purple);

        @media (max-width: 500px) {
          font-size: 32px;
        }
      }

      .until {
        font-size: 32px;
        font-family: 'DM Sans';
        color: var(--dark-purple);

        @media (max-width: 500px) {
          font-size: 24px;
        }
      }
    }

    .quickLinks {
      display: flex;
      gap: 48px;
      @include fade-with-delay(1s);

      @media (max-width: 500px) {
        flex-direction: column;
        align-items: center;
        gap: 0;
      }
    }
  }
}
