.main {
  width: 100%;

  .hero {
    height: calc(80dvh - 72px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 128px;
    background: linear-gradient(#fde0ff, var(--light-purple));
    .countdown {
      text-align: center;

      .numerials {
        font-size: 128px;
        font-family: 'Outfit';
        font-variant-numeric: tabular-nums;
        color: var(--dark-purple);
      }

      .until {
        font-size: 32px;
        font-family: 'DM Sans';
        color: var(--dark-purple);
      }
    }

    .quickLinks {
      display: flex;
      gap: 48px;
    }
  }
}
