@use '/styles/animations';


.main {
  width: 100%;

  .hero {
    height: calc(80vh - 72px);
    min-height: 512px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;

    @media (max-width: 800px) {
      gap: 64px;
    }

    .heroBGImg {
      height: 100%;
      width: 100%;
      position: absolute;
      background: url('/images/heroBGImg.png');
      background-position: center;
      background-size: cover;
      @include animations.fade-with-delay(0s);
    }

    .quickLinks {
      display: flex;
      gap: 48px;
      @include animations.fade-with-delay(1s);

      @media (max-width: 800px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
      }
    }

    .downChevron {
      width: 40px;
      height: 40px;
      position: absolute;
      bottom: 24px;
      color: white;
      @include animations.fade-with-delay(1.5s);
    }
  }

  .scheduleContainer {
    padding: 64px 128px;
    background: var(--panel-purple);

    .heading {
      margin-bottom: 16px;
    }

    @media (max-width: 800px) {
      padding: 64px 24px;
    }
  }
}
