@use '/styles/_animations';

.countdown {
  text-align: center;
  @include animations.fade-with-delay(0.5s);

  .numerials {
    height: 176px;
    font-size: 128px;
    font-variant-numeric: tabular-nums;
    color: var(--pale-purple);

    &.pulse {
      @include animations.pulse-size;
    }

    @media (max-width: 800px) {
      height: 96px;
      font-size: 64px;
    }
  }

  .until {
    font-size: 32px;
    color: var(--pale-purple);

    @media (max-width: 800px) {
      font-size: 24px;
    }
  }
}
