.Footer {
  width: 100dvw;
  height: 152px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: var(--purple);

  .linkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
  }

  .link {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
