.nav {
  width: 100dvw;
  height: 72px;
  padding: 0px 128px;
  border: solid var(--dark-purple);
  border-width: 0 0 1px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ad9ee8d0;
  backdrop-filter: blur(8px);

  .logoLink {
    display: flex;
    align-items: center;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 24px;

    a {
      font-size: 20px;
      color: white;
      font-weight: 400;
      text-decoration: none;
      text-underline-offset: 8px;

      &.active {
        text-decoration: underline;
      }

      &:hover {
        text-decoration: underline;
        text-decoration-color: white;
      }
    }

    @media (max-width: 800px) {

      &.hidden {
        max-height: 0;
        border-bottom: none;
      }

      width: 100dvw;
      max-height: 600px;
      border-bottom: 1px solid var(--dark-purple);
      position: absolute;
      top: 72px;
      left: 0;
      flex-direction: column;
      gap: 0px;
      background: #ad9ee8d0;
      backdrop-filter: blur(8px);
      overflow: hidden;
      transition: max-height 0.2s linear,
      border 0.5s;

      a {
        width: 100%;
        text-align: center;
        padding: 16px 0;
      }
    }
  }

  .menuBtn {
    width: 48px;
    height: 48px;
    border: none;
    background: none;
    display: none;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 800px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 800px) {
    padding: 0px 24px !important;
  }
}
