.nav {
  width: 100dvw;
  height: 72px;
  padding: 0px 128px;
  border-bottom: 1px solid var(--dark-purple);
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ad9ee8d0;
  backdrop-filter: blur(8px);
  z-index: 1;

  .logoMobile {
    display: none;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 24px;

    a {
      font-size: 20px;
      color: white;
      font-weight: 400;
      text-decoration: none;
      text-underline-offset: 8px;

      &.active {
        text-decoration: underline;
        // font-weight: 700;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 700px) {
    padding: 0px 24px !important;

    .logo {
      display: none;
    }

    .logoMobile {
      display: block !important;
    }
  }
}
