.container {
  height: 72px;
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: var(--dark-purple);
  transition: transform 0.2s;

  img {
    border: 1px solid var(--purple);
    border-radius: 12px;
  }

  &:hover {
    text-decoration: underline;
    transform: translateY(-4px);
  }
}
