.container {
  padding: 32px;
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: var(--text-secondary);
  text-decoration: none;
  text-align: center;
  transition: transform 0.2s;

  &:hover {
    text-decoration: underline;
    transform: translateY(-4px);
  }
}
