.container {
  .tableHeader {
    // margin: 16px 0;
    display: grid;

    .colName {
      color: var(--purple);
    }

    @media (max-width: 1200px) {
      display: none;
    }
  }

  .rowContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
